<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98530968012-gvk7641v2cd8edj1ggloa3oju22jlo2f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98530968012-gvk7641v2cd8edj1ggloa3oju22jlo2f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>98530968012-dolv9iniok57mvlhjko00g6fcjmac2ba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd7y-acFAaA6pNSu7kaAHCxwwAXOWkdZs</string>
	<key>GCM_SENDER_ID</key>
	<string>98530968012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.sochem.mobile</string>
	<key>PROJECT_ID</key>
	<string>sochem-org</string>
	<key>STORAGE_BUCKET</key>
	<string>sochem-org.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98530968012:ios:2017da7e8fb1d303c35d69</string>
</dict>
</plist>